{% extends "base.html" %}

{% block title %}联系我们{% endblock %}

{% block main %} 
<div class="container">
  <div>
    <h2>罗马帝国的历史</h2>
    <p>罗马自公元前三世纪已经开始并吞行省；四个世纪后,罗马的领土范围已经达到前所未有地辽阔。虽然罗马仍然被称为“共和国”，但实际上已经可被称为一个“帝国”了。 行使共和制的行省由从前的执政官和裁判官进行管治；他们经由选举产生，并拥有称为“Imperium”的当地最高统治权。当时只有少数人拥有不成比例的雄厚财富和强大军力；他们对其行省的管理是罗马从共和体制步向绝对君主制的主要因素。不久，“帝权”即由“Imperium”一字表达； 英语“帝国”(empire)一字即来自此拉丁字;而这意思只可从更后的罗马历史中找到。</p>
    <p> 身为罗马第一个皇帝，奥古斯都赋予自己一个“共和国拯救者”的地位，并小心翼翼地把自己的权力限制在共和制宪法的原则下。罗马人企图把与君王有关的头衔加在他身上,但遭到他的拒绝；他倒是自称为“第一公民”。执政官的选举仍旧定期举行；保民官继续进行他们的立法；参议员依然在元老院进行辩论。但后来皇帝实行最终决定权的先例，却是由奥古斯都自己立下；而且这行动更是在有军事力量作其后盾的情况下进行的。</p>
    <p> 奥古斯都时期的文艺作品把他长达四十年的统治描写成罗马一个新的“黄金时代”。奥古斯都设计了一个长远的、理想的帝国基础；这基础就是持续实行了三个世纪的元首制(27 BC-284 AD)。这元首制由起初实施的二百年，被传统认为罗马和平时期。在此期间,整个帝国的凝聚力在城市生活、经济链、共同的文化、法治和宗教规范下变得越来越强大。在城市的暴动不常发生；即使发生了，它们都会被“无情而迅速地”平定； 在不列巅尼亚和高卢的叛乱就是其中的例子。 犹太罗马战争在公元后“一世纪”爆发，持续了六十年，最后在 “第二世纪”的上半段平息；这场是罗马惟一一场用了很长的时间和极其暴力的手段平定的一场叛乱。</p>
    <p> 奥古斯都所设立的朝代更替准则是成功的；但这被那些比他活得更长、同时又天赋禀异的继承人所破坏。在奥古斯都所创立的朱里亚·克劳狄王朝里，除了奥古斯都自己以外，还有四个皇帝—提比里乌斯、卡里古拉、克劳狄乌斯和尼禄。在朱里亚．克劳狄王朝结束后，著名的四帝之年(公元后69年)开始；当年四个皇帝同时出现。维斯帕先就是这场政治斗争中的最后胜利者。</p>
    <p> 维斯帕先建立了短暂的弗拉维王朝；其后由“涅尔瓦－安敦尼王朝”取代。这王朝就是著名的“五贤帝时代”--这是因为当中出现过涅尔瓦、图拉真、哈德良、安东尼奥·派阿斯和称为“哲学家皇帝”的马尔库斯·奥列里乌斯这五位好皇帝。公元后180年，康茂德接续五贤帝登基。当时的希腊史家卡西乌斯·狄奥认为，这标志着罗马帝国的没落；他曾下过一个著名的评论：“从一个黄金帝国沦为一个铁锈之国”。这句话使得一些史学家，尤其是爱德华·吉本，以康茂德的统治为罗马帝国没落的开始。</p>
    <p> 公元212年，卡拉卡拉在位时，在罗马帝国内出生的自由民均拥有罗马公民权。但是，虽然如此，塞维鲁王朝却是一片混乱—每个皇帝的统治经常都是由谋杀或处决来结束。随着王朝的崩溃，罗马帝国被三世纪危机所灭；这是一个充满侵略、内战、经济衰退和瘟疫的时代。在划分历史时期时，这危机被视为由古典时代到古典时代晚期的过渡。这时连帝国里“共和国”的残余成分也被皇帝的专制统治粉碎了。在公元后284-305年间统治罗马帝国的戴克里先把帝国从灭亡的边缘拉回来；但他废除自己“第一公民”的角色，成为第一位以 ‘domine’ (即主；主人)自称的皇帝。在戴克里先统治其间，面对基督教明显的威胁，罗马帝国对基督徒发动有史以来最具组织性的迫害—戴克里先迫害。由戴克里先作为“独裁者”(Dominate)时开始的专制独裁统治一直维持到476年西罗马帝国的灭亡为止。</p>
  </div>
  <div>
    <h2>联系我们</h2>
    <a href="mailto:name@email.com">Email</a>
  </div>
</div>
{% endblock %}
