{% extends "base.html" %}

{% block title%}会员列表{% endblock %}

{% block main %}
{% if members %}
<div class='list-group'>
  {% for member in members %}
  <div class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ member.user.get_full_name }}</h5>
      <small>{{ member.organization }} - {{ member.title }}</small>
    </div>
    <p class="mb-1"></p>
    <small></small>
  </div>
  {% endfor %}
</div>
{% else %}
<p>There is no member yet.</p>
{% endif %}
{% endblock %}
